In [1]:
from sqlalchemy import create_engine

source = create_engine('mysql+mysqlconnector://test:test123@172.18.0.3/test')

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 3.7 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.3-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 2.5 MB/s
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.3 pandas-1.3.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

pd.read_sql('select now()', con=source)

                now()
0 2021-10-26 05:38:12